:root {
    --green: #50806B;
    --bggreen: #e8edde;
    --lgreen: #5bc08A;
    --black: #000;
    --red: #d11f1f;
    --textgrey: #7C8087;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.wrapper {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: "Poppins", serif;
    font-style: normal;
}

.light-bg{
    background-color: var(--bggreen);
    overflow: hidden;
}